<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Support</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <h1><span>Admin_Support</span></h1>
  
  <form method="POST" action="">
    <p>
      <label><u>Employee ID</u></label>
      <input type="text" name="eid">
    </p>
    <br>
    <p>
      <label>Admin Support Type</label>
      <input type="text" name="astype">
    </p>
    <br><br>
  <input type="submit" name="adminsup" value="Insert">&nbsp;
  <input type="submit" name="adminsup" value="Update">&nbsp;
  <input type="submit" name="adminsup" value="Delete">&nbsp;
  <input type="submit" name="adminsup" value="Show Table">
  </form>
  <img src="/static/admin_support.jpg" alt="">

</body>
</html>
