<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Airline</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  
</head>
<body>

    <h1><span>Airline</span></h1>

    <form  method="POST" action="">
        <p>
          <label><u>Airline ID</u></label>
          <input type="text" name="airid">
        </p>
        <br>
        <p>
          <label>Airline Name</label>
          <input type="text" name="airname">
        </p>
        <br><br>
      <input type="submit" name="airl" value="Insert">&nbsp;
      <input type="submit" name="airl" value="Update">&nbsp;
      <input type="submit" name="airl" value="Delete">&nbsp;
      <input type="submit" name="airl" value="Show Table">
      </form>
      <img src="/static/airline.jpg" alt="">
  
</body>
</html>