<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Managment</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        <h1><span>
            Airport Managment System
        </span></h1>
    </header>
    <br><br><br>
    <h2>
        Select the Table in which you want to make changes
    </h2>

    <form  method="POST" action="">
        <input type="submit" name="sub" value="City">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Airport">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Airport_consists_of">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Airline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Flight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Flight_info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Notice_board">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Flight_Passenger_transmits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Employee"><br><br>
        <input type="submit" name="sub" value="Employee_handles">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Passenger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Ticket">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Admin_Support">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Engineer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Luggage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Connecting_Flight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="sub" value="Non_Stop_Flight">        
      </form>
      <br>      

    <br>
    <br>
    <img src="/static/air_mange.jpg" alt="">

</body>
</html>