<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luggage_View</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  
</body>
</html>
<table>
  <tr>
    <th>P_ID</th>
    <th>Luggage_ID</th>
    <th>No_of_Bags</th>
  </tr>
    {% for luggage in luggageDetails %}
    <tr>
      <td> {{luggage[0]}} </td>
      <td> {{luggage[1]}} </td>
      <td> {{luggage[2]}} </td>
    </tr>
    {% endfor %}
  </table>
  <img src="/static/luggage.jpg" alt="">