<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passenger_View</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <table>
    <tr>
      <th>P_ID</th>
      <th>P_MNo</th>
      <th>PFirst_Name</th>
      <th>PLast_Name</th>
      <th>P_DOB</th>
      <th>P_Sex</th>
      <th>P_IDType</th>
      <th>P_IDNo</th>
    </tr>
      {% for pass in passDetails %}
      <tr>
        <td> {{pass[0]}} </td>
        <td> {{pass[1]}} </td>
        <td> {{pass[2]}} </td>
        <td> {{pass[3]}} </td>
        <td> {{pass[4]}} </td>
        <td> {{pass[5]}} </td>
        <td> {{pass[6]}} </td>
        <td> {{pass[7]}} </td>
      </tr>
      {% endfor %}
    </table>
    <img src="/static/passenger.jpg" alt="">
</body>
</html>

  