<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  
<h1><span>Ticket</span></h1>

<form method="POST" action="">
    <p>
      <label><u>Ticket Number</u></label>
      <input type="text" name="tno">
    </p>
    <br>
    <p>
      <label>Airline Name</label>
      <input type="text" name="airname">
    </p>
    <br>
    <p>
      <label>Ticket Price</label>
      <input type="number" name="tprice">
    </p>
    <br>
    <p>
      <label>Seat Number</label>
      <input type="text" name="seatno">
    </p>
    <br>
    <p>
      <label>Class</label>
      <input type="text" name="classcategory">
    </p>
    <br>
    <p>
      <label>Arrival</label>
      <input type="datetime-local" name="arr">
    </p>
    <br>
    <p>
      <label>Departure</label>
      <input type="datetime-local" name="dept">
    </p>
    <br>
    <p>
      <label>Duration</label>
      <input type="time" name="dura">
    </p>
    <br>
    <p>
      <label>Date of Travel</label>
      <input type="date" name="dot">
    </p>
    <br>
    <p>
      <label>Passenger Source</label>
      <input type="text" name="psrc">
    </p>
    <br>
    <p>
      <label>Passenger Destination</label>
      <input type="text" name="pdest">
    </p>
    <br>
    <p>
      <label>Terminal</label>
      <input type="text" name="term">
    </p>
    <br>
    <p>
      <label>Passenger ID</label>
      <input type="text" name="pid">
    </p>
    <br>
    <p>
      <label>Date of Booking</label>
      <input type="date" name="dob">
    </p>
    <br>
    <p>
      <label>Date of Cancellation</label>
      <input type="date" name="doc">
    </p>
    <br>
    <p>
      <label>Charges</label>
      <input type="number" step="0.01" name="charge">
    </p>
    <br>
    <br>
  <input type="submit" name="tick" value="Insert">&nbsp;
  <input type="submit" name="tick" value="Update">&nbsp;
  <input type="submit" name="tick" value="Delete">&nbsp;
  <input type="submit" name="tick" value="Show Table">
  </form>
    <img src="/static/ticket.jpg" alt="">
  
  </body>
</html>
